.btn-thread{
    /*width: 100%;*/
    bottom: 15px;
}
.main-content-heading{
    font-weight: bold;
    margin-top: 20px;
}

.content-warp{
    padding-left: 20px;
}

.del-btn{
    border-radius: 20px;
    font-size: 12px;
    width: 70px;

}
.del-btn i{
    margin-right: 3px;
}
.edit-btn{
    font-size: 12px;
    border-radius: 20px;
    width: 70px;
    float: left;
    margin-right: 5px;
}
.edit-btn i{
    margin-right: 3px;
}
